html {
  --rampUpMillis: 1000;
  --rampDownMillis: 1000;
}

.onConveyorBelt {
  z-index: -1;
  animation: onConveyorBelt 8s linear forwards;
}
@keyframes onConveyorBelt {
  0% {top: 0px;}
  100% {top: 100%; transform: rotate(4turn);}
}

.beingConsumed {
  position: relative;
  z-index: 1;
  animation: beingConsumed 1000ms linear forwards;
}
@keyframes beingConsumed {
  0% {left: 15%; top: 30%;}
  100% {left: 40%; top: 40%;}
}





.beingProcessed {
  position: relative;
  height: 100%;
  background: red;
  animation: beingProcessed 2s linear;
}
@keyframes beingProcessed {
  0% {width: 0%;}
  100% {width: 100%;}
}